body {
  background-color:#b2ebf2 ;
}

hr {
  background-color: #b2ebf2 ;
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 5px;
  width: 40%;
}

h1 {
  color: #59405c;
}

h3 {
  color: #59405c ;
}
